.gb-container{
  background-color: #0d3b4cf0;
  height: 100vh;
}

h2{
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin: 50px 0;
  text-decoration: underline;
}

#message, #numbers{
  font-size: 3vw;
  color: white;
}

.gb-box{
  background-color: rgba(215, 63, 63, 0.879);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.773);
}

.button-start{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.857);
} 